doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='styleSheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://bootflat.github.io/bootflat/css/bootflat.css')
  body
    block content
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
  <!-- Bootflat's JS files.-->
  script(src="https://bootflat.github.io/bootflat/js/icheck.min.js")
  script(src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js")
  script(src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js")
  script.
    var socket = io.connect();
    socket.on('welcome',function(data){
      alert(data.text);
    });
    var _name = $('#name'),
        setForm = $('#set_name'),
        messageForm = $('#send_mes'),
        message = $('#message');
    var messages = $('#messages');
    var namesList = $('#names ul');
    var num;
    var date = new Date();
    var lag = 0, year = date.getFullYear(),month = date.getMonth()+1;
    var hour =date.getHours(),min = date.getMinutes();
    num =Math.floor(Math.random()*10);
    var src = '/images/';
    $('.lz-dt').html(year+'年'+month+'月');
    setForm.submit(function(event){
      event.preventDefault();
      socket.emit('name',_name.val(),function(data){
        if(data){
          alert('设置成功！');
          setForm.hide();
          messageForm.show();
          $('.mess').show();
          messageForm.css('display','table');
        }else{
          setForm.prepend('<p>对不起，这个昵称正在使用中。</p>')
        }
      });
    })
    messageForm.submit(function(event){
      event.preventDefault();
      socket.emit('user message',message.val());
      message.val('').focus();
    })
    socket.on('names',function(data){
      var html = '';
      for(var i=0;i<data.length;i++){
        html += '<li style="display: inline-block;margin-left: 10px"><span class="glyphicon glyphicon-user"> </span> '+data[i]+'</li>';
      }
      namesList.empty().append(html);
    })
    socket.on('user message',function(data){
      lag++;
      if(lag%2==0){
          messages.append('<dd class="pos-right clearfix"><div class="circ"></div><div class="time">'+hour+':'+min+'</div><div class="events"><div class="pull-left"><img class="events-object img-rounded" src='+src +Math.floor(Math.random()*10)+'.jpg'+'></div><div class="events-body"><h4 class="events-heading">'+data.name+'</h4><p>'+data.message+'</p></div></div></dd>');

      }else{
            messages.append('<dd class="pos-left clearfix"><div class="circ"></div><div class="time">'+hour+'&nbsp;'+min+'</div><div class="events"><div class="pull-left"><img class="events-object img-rounded" src='+src +Math.floor(Math.random()*10)+'.jpg'+'></div><div class="events-body"><h4 class="events-heading">'+data.name+'</h4><p>'+data.message+'</p></div></div></dd>'); }
    })