a {
  color: #00B7FF;
}
.sendM{
  bottom: 15px;
}
#send_mes{
  display: none;
}
.mess{
  display: none;
}
h1{
  text-align: center;
  font-weight: bold!important;
}
.tit{
  text-align: center;
}
ul li{
  list-style: none;
}
body{
  background-color: rgb(241, 242, 246)!important;
}
.lz-margin{
  margin:15px auto;
}
img{
  width: 64px;
  height: 64px;
}